<div class="jumbotron jumbotron-fluid text-center">
  <h1>COUNTDOWN</h1>
  <p>X Registered Users</p>
</div>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Secret Scion</mat-card-title>
      <mat-card-subtitle>
        <i>A <strong>Nosgothic</strong> Secret Santa</i>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Vernunft fängt wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und
        Hoffnung wieder an zu blühn; Man sehnt sich nach des Lebens goldner Baum. So schreitet in dem engen Bretterhaus
        (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel durch die
        Welt zur Hölle! Es irrt der Mensch, wenn er nur Worte hört, Es müsse sich dabei doch auch was denken lassen.
        Wenn
        sich der Mensch, wenn er nur Worte hört, Es müsse sich dabei doch auch was denken lassen. Ich höre schon des
        Dorfs
        Getümmel, Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß und klein, Hier bin ich nicht; doch viel
        ist
        mir bewusst. Vernunft fängt wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung wieder an zu
        sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung wieder an zu blühn; Man sehnt sich nach des Lebens
        goldner Baum. So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und
        wandelt mit bedächtger Schnelle Vom Himmel durch die Welt zur Hölle. Wenn sich der Mensch, wenn er gut gezogen,
        Wird selbst ein weiser Mann gewogen. Wenn sich der Mensch, wenn er sie beim Kragen hätte...</p>
    </mat-card-content>
    <!-- <mat-card-actions align="center">
      <button mat-button>Action1</button>
    </mat-card-actions> -->
  </mat-card>
</div>
