  <div class="jumbotron jumbotron-fluid text-center">
    <h1>COUNTDOWN</h1>
    <p>X Registered Users</p>
  </div>

  <div class="container">
    <mat-card class="aboutCard">
      <mat-card-header>
        <mat-card-title>Secret Scion</mat-card-title>
        <mat-card-subtitle>
          <em>A <strong>Nosgothic</strong> Secret Santa</em>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>You know what? It is beets. I've crashed into a beet truck. Hey, you know how I'm, like, always trying to
          save the planet? Here's my chance. Do you have any idea how long it takes those cups to decompose. Just my
          luck, no ice. They're using our own satellites against us. And the clock is ticking.</p>
      </mat-card-content>
    </mat-card>

    <div class="signUpToggle row" style="justify-content: center;">
      <button mat-raised-button (click)="showToggle()" style="width: 7em;">
        {{showSignUp ? 'Nevermind' : 'Sign Up'}}
      </button>
    </div>

    <mat-expansion-panel [@fader]="currentState" id="signUpPanel" hideToggle [expanded]="showSignUp"
      (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [expandedHeight]="'3em'" [collapsedHeight]="'1em'"
        style="justify-content: center !important;" (click)="showToggle()">
      </mat-expansion-panel-header>

      <p>The user Sign-Up form will populate here.</p>

    </mat-expansion-panel>
  </div>
