  <div class="jumbotron jumbotron-fluid text-center">
    <h1>COUNTDOWN</h1>
    <p>X Registered Users</p>
  </div>

  <div class="container">
    <mat-card class="aboutCard">
      <mat-card-header>
        <mat-card-title>Secret Scion</mat-card-title>
        <mat-card-subtitle>
          <em>A <strong>Nosgothic</strong> Secret Santa</em>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>You know what? It is beets. I've crashed into a beet truck. Hey, you know how I'm, like, always trying to
          save the planet? Here's my chance. Do you have any idea how long it takes those cups to decompose. Just my
          luck, no ice. They're using our own satellites against us. And the clock is ticking.</p>
      </mat-card-content>
    </mat-card>

    <div class="signUpToggle row" style="justify-content: center;">
      <button mat-raised-button (click)="showToggle()" style="width: 7em;">
        {{showSignUp ? 'Nevermind' : 'Sign Up'}}
      </button>
    </div>

    <mat-expansion-panel [@fader]="currentState" id="signUpPanel" hideToggle [expanded]="showSignUp"
      (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [expandedHeight]="'3em'" [collapsedHeight]="'0em !important'"
        style="justify-content: center !important;" (click)="showToggle()">
      </mat-expansion-panel-header>

      <div class="col container-fluid">
        <!-- User registration form -->
        <div class="row" style="justify-content: flex-start;">
          <div class="col-1">
            <div class="row">
              <label>Age</label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" [formGroup]="signUpForm" style="width: 75%;">
                <input matInput formControlName="discriminator" placeholder="####">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" style="justify-content: flex-start;">
          <div class="col-5">
            <div class="row">
              <label>Discord Username</label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" [formGroup]="signUpForm" style="width: 100%; margin-right: 1em;">
                <input matInput formControlName="discordUser">
              </mat-form-field>
            </div>
          </div>
          <div class="col-1">
            <div class="row">
              <label>&nbsp;</label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" [formGroup]="signUpForm" style="width: 75%;">
                <input matInput formControlName="discriminator" placeholder="####">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" style="justify-content: flex-start;">
          <div class="col">
            <div class="row">
              <label>Favorite Game(s)</label>
            </div>
            <div class="row">
              <section>
                <div class="col">
                  <div class="row" *ngFor="let game of series" value="game">
                    <mat-checkbox color="warn" (click)="markFavorite(game)">
                      {{ game }}
                    </mat-checkbox>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>

        <div class="row" style="justify-content: flex-start;">
          <div class="col-6">
            <div class="row">
              <label style="margin-top: 1em;">Likes</label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" [formGroup]="signUpForm" style="width: 100%; margin-right: 1em;">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="10" formControlName="userLikes"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row" style="justify-content: flex-start;">
          <div class="col-6">
            <div class="row">
              <label style="margin-top: 1em;">Dislikes</label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" [formGroup]="signUpForm" style="width: 100%; margin-right: 1em;">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="10" formControlName="userDislikes"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

    </mat-expansion-panel>
  </div>
