/* Type Selectors */
body {
  background-color: #0c0f0a;
}

mat-card p,
mat-card-title,
mat-card-subtitle {
  font-size: larger;
}

/* Class Selectors */
.signUpToggle {
  margin-top: 1em;
}

/* ID Selectors */
#signUpPanel {
  margin-top: 1em;
}
