/* Type Selectors */
mat-card p,
mat-card-title,
mat-card-subtitle {
  font-size: larger;
  color: white;
}

mat-card {
  background-color: #2c2f33;
}

/* Class Selectors */
.signUpToggle {
  margin-top: 1em;
}

/* ID Selectors */
#signUpPanel {
  margin-top: 1em;
}
