  <div class="jumbotron jumbotron-fluid text-center">
    <h1>COUNTDOWN</h1>
    <p>X Registered Users</p>
  </div>

  <div class="container">
    <mat-card class="aboutCard">
      <mat-card-header>
        <mat-card-title>Secret Scion</mat-card-title>
        <mat-card-subtitle>
          <em>A <strong>Nosgothic</strong> Secret Santa</em>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>You know what? It is beets. I've crashed into a beet truck. Hey, you know how I'm, like, always trying to
          save the planet? Here's my chance. Do you have any idea how long it takes those cups to decompose. Just my
          luck, no ice. They're using our own satellites against us. And the clock is ticking.</p>
      </mat-card-content>
    </mat-card>

    <div class="signUpToggle row" style="justify-content: center;">
      <button mat-raised-button (click)="showToggle()" style="width: 7em;">
        {{showSignUp ? 'Nevermind' : 'Sign Up'}}
      </button>
    </div>

    <mat-expansion-panel [@fader]="currentState" id="signUpPanel" hideToggle [expanded]="showSignUp"
      (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header [expandedHeight]="'3em'" [collapsedHeight]="'0em !important'"
        style="justify-content: center !important;" (click)="showToggle()">
        <span style="color: red;">*</span>
        <span style="color: white; margin-left: .25em; font-style: italic;">Required</span>
      </mat-expansion-panel-header>

      <div class="col container-fluid textColor" [formGroup]="signUpForm">
        <!-- User registration form -->

        <div class="row" style="justify-content: flex-start;">
          <div class="col">
            <div class="row">
              <label>Server Role<span style="color: red; margin-left: .25em;">*</span></label>
            </div>
            <div class="row">
              <mat-radio-group formControlName="isGuardian">
                <div class="col">
                  <div class="row">
                    <mat-radio-button color="warn" value="true">
                      Circle of Nyan
                    </mat-radio-button>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <mat-radio-button color="warn" value="false">
                      The Common Rabble
                    </mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <br>

        <div class="row" style="justify-content: flex-start;">
          <div class="col-5">
            <div class="row">
              <label>Discord Username<span style="color: red; margin-left: .25em;">*</span></label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" style="width: 100%; margin-right: 1em;">
                <input matInput formControlName="discordUser"
                  (blur)="signUpForm.controls.discriminator.markAsTouched()">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-error *ngIf="(signUpForm.controls.discordUser.touched || signUpForm.controls.discriminator.touched)
              && (signUpForm.controls.discordUser.invalid || signUpForm.controls.discriminator.invalid)"
                style="margin-top: -1em;">
                Discord Username required <span style="font-style: italic;">(UserName#1234)</span>
              </mat-error>
            </div>
          </div>
          <div class="col-1">
            <div class="row">
              <label>&nbsp;</label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" style="width: 75%;">
                <input matInput formControlName="discriminator" placeholder="####">
              </mat-form-field>
            </div>
          </div>
        </div>
        <br>

        <div class="row" style="justify-content: flex-start;">
          <div class="col">
            <div class="row">
              <label>Favorite Game(s)</label>
            </div>
            <div class="row">
              <section>
                <div class="col">
                  <div class="row" *ngFor="let game of series" value="game.nm">
                    <mat-checkbox color="warn" [checked]="game.checked" (click)="markFavorite(game.nm)">
                      {{ game.nm }}
                    </mat-checkbox>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <br>

        <div class="row" style="justify-content: flex-start;">
          <div class="col-6">
            <div class="row">
              <label>Likes</label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" style="width: 100%; margin-right: 1em;">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="10" formControlName="userLikes"></textarea>
              </mat-form-field>
            </div>
            <div class="row" style="justify-content: flex-end; margin-top: -1em; margin-right: .25em;">
              <mat-error *ngIf="signUpForm.controls.userLikes.invalid">
                {{2000 - signUpForm.controls.userLikes.value?.length}}
              </mat-error>
              <mat-error *ngIf="signUpForm.controls.userLikes.valid" style="color: white;">
                {{2000 - signUpForm.controls.userLikes.value?.length}}
              </mat-error>
            </div>
          </div>
        </div>
        <br>

        <div class="row" style="justify-content: flex-start;">
          <div class="col-6">
            <div class="row">
              <label style="margin-top: 1em;">Dislikes</label>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" style="width: 100%; margin-right: 1em;">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="10" formControlName="userDislikes"></textarea>
              </mat-form-field>
            </div>
            <div class="row" style="justify-content: flex-end; margin-top: -1em; margin-right: .25em;">
              <mat-error *ngIf="signUpForm.controls.userDislikes.invalid">
                {{2000 - signUpForm.controls.userDislikes.value?.length}}
              </mat-error>
              <mat-error *ngIf="signUpForm.controls.userDislikes.valid" style="color: white;">
                {{2000 - signUpForm.controls.userDislikes.value?.length}}
              </mat-error>
            </div>
          </div>
        </div>
        <br>

      </div>

      <mat-action-row style="justify-content: space-evenly;">
        <div class="row">
          <button mat-raised-button (click)="signUpForm.valid ? showToggle(true) : signUpForm.markAllAsTouched()"
            style="width: 15em;">
            Submit
          </button>
        </div>
        <div class="row">
          <button mat-raised-button (click)="saveToJson()" style="width: 15em;">
            Export JSON
          </button>
        </div>
        <!-- new button to do what it says -->
        <div class="row">
          <button mat-raised-button (click)="pairAndMakeJson()" style="width: 15em;">
            Pair and make JSON
          </button>
        </div>
      </mat-action-row>
    </mat-expansion-panel>
  </div>
