/* Type Selectors */
mat-card p,
mat-card-title,
mat-card-subtitle {
  font-size: larger;
  color: white;
}

mat-card,
mat-expansion-panel {
  background-color: #2c2f33;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: -1rem;
}

::ng-deep label.ng-star-inserted {
  transform: translateY(-0.59375em) scale(0.75) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.mat-input-element::placeholder {
  color: white;
  /* add placeholder css here */
}

/* Class Selectors */
.signUpToggle {
  margin-top: 1em;
}

/* ID Selectors */
#signUpPanel {
  margin-top: 1em;
}

.textColor {
  font-size: larger;
  color: white;
}
